<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Privacy Policy for Трекер расходов - FreePrivacyPolicy.com</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/livelink.css') }}">


<body>
<div class="page">
<div class="header">
<div class="container">
<p class="title">Трекер расходов </p>
</div>
</div>
<div class="translations-content-container">
<div class="container">
<div class="tab-content translations-content-item en visible" id="en">
<h1>Политика конфиденциальности </h1>
<p>Последнее обновление: 22 февраля 2024 г. </p>
<p>Эта Политика конфиденциальности описывает Нашу политику и процедуры 
сбора, использования и раскрытия Вашей информации, когда Вы пользуетесь 
Сервисом, и рассказывает Вам о Ваших правах на неприкосновенность 
частной жизни и о том, как закон защищает Вас. </p>
<p>Мы используем Ваши персональные данные для предоставления и улучшения
 Сервиса. Пользуясь Сервисом, Вы соглашаетесь на сбор и использование 
информации в соответствии с настоящей Политикой конфиденциальности.
 <h2>Толкование и определения </h2>
<h3>Интерпретация </h3>
<p>Слова, в которых начальная буква пишется с заглавной буквы, имеют 
значения, определенные при соблюдении следующих условий. Следующие 
определения должны иметь одинаковое значение независимо от того, 
употребляются ли они в единственном или множественном числе. </p>
<h3>Определения </h3>
<p>Для целей настоящей Политики конфиденциальности: </p>
<ul>
<li>
<p><strong>Учетная запись </strong> означает уникальную учетную запись, созданную для Вас для доступа к нашему Сервису или частям нашего Сервиса. </p>
</li>
<li>
<p><strong>Аффилированное лицо </strong> означает организацию, которая 
контролирует сторону, находится под ее контролем или находится под общим
 контролем с ней, где "контроль" означает владение 50% или более акций, 
долей участия в капитале или других ценных бумагах, имеющих право голоса
 при выборах директоров или другого управляющего органа. </p>
</li>
<li>
<p><strong>Приложение </strong> относится к Трекер расходов, программному обеспечению, предоставляемому Компанией. </p>
</li>
<li>
<p><strong>Компания </strong> (именуемая в настоящем Соглашении либо "Компания", либо "Мы", "Нас" или "Наш") относится к Трекер расходов. </p>
</li>
<li>
<p><strong>Страна </strong> относится к: России </p>
</li>
<li>
<p><strong>Устройство </strong> означает любое устройство, которое может
 получить доступ к Сервису, такое как компьютер, мобильный телефон или 
цифровой планшет. </p>
</li>
<li>
<p><strong>Персональные данные </strong> - это любая информация, которая относится к идентифицированному или поддающемуся идентификации физическому лицу. </p>
</li>
<li>
<p><strong>Сервис </strong> относится к Приложению. </p>
</li>
<li>
<p><strong>Поставщик услуг </strong> означает любое физическое или 
юридическое лицо, которое обрабатывает данные от имени Компании. Это 
относится к сторонним компаниям или частным лицам, нанятым Компанией для
 облегчения предоставления Услуги, предоставления Услуги от имени 
Компании, выполнения услуг, связанных с Услугой, или для оказания помощи
 Компании в анализе того, как используется Услуга. </p>
</li>
<li>
<p><strong>Данные об использовании </strong> относятся к данным, 
собираемым автоматически, либо генерируемым в результате использования 
Сервиса, либо из самой инфраструктуры Сервиса (например, 
продолжительность посещения страницы). </p>
</li>
<li>
<p><strong>Вы </strong> означает физическое лицо, получающее доступ к 
Сервису или использующее Его, или компанию, или другое юридическое лицо,
 от имени которого такое физическое лицо получает доступ к Сервису или 
использует его, в зависимости от обстоятельств. </p>
</li>
</ul>
<h2>Сбор и использование Ваших Персональных данных </h2>
<h3>Типы собираемых данных </h3>
<h4>Персональные данные </h4>
<p>При использовании Нашего Сервиса Мы можем попросить Вас предоставить 
Нам определенную личную информацию, которая может быть использована для 
связи с Вами или идентификации Вас. Личная информация может включать, но
 не ограничиваться: </p>
<ul>
<li>
<p>Эл. адрес </p>
</li>
<li>
<p>Имя и фамилия </p>
</li>
<li>
<p>Данные об использовании </p>
</li>
</ul>
<h4>Данные об использовании </h4>
<p>Данные об использовании собираются автоматически при использовании Сервиса. </p>
<p>Данные об использовании могут включать такую информацию, как адрес 
интернет-протокола Вашего устройства (например, IP-адрес), тип браузера,
 версию браузера, страницы нашего Сервиса, которые Вы посещаете, время и
 дату Вашего посещения, время, проведенное на этих страницах, уникальные
 идентификаторы устройств и другие диагностические данные. </p>
<p>Когда Вы получаете доступ к Сервису с помощью мобильного устройства 
или через него, Мы можем автоматически собирать определенную информацию,
 включая, но не ограничиваясь этим, тип используемого Вами мобильного 
устройства, уникальный идентификатор Вашего мобильного устройства, 
IP-адрес Вашего мобильного устройства, Вашу мобильную операционную 
систему, тип используемого Вами мобильного интернет-браузера, уникальные
 идентификаторы устройств и другие диагностические данные. </p>
<p>Мы также можем собирать информацию, которую отправляет Ваш браузер 
всякий раз, когда Вы посещаете наш Сервис или когда Вы получаете доступ к
 Сервису с помощью мобильного устройства. </p>
<h3>Использование Ваших Персональных данных </h3>
<p>Компания может использовать Персональные данные для следующих целей: </p>
<ul>
<li>
<p><strong>Предоставлять и поддерживать наш Сервис </strong>, в том числе отслеживать использование нашего Сервиса. </p>
</li>
<li>
<p><strong>Для управления Вашей учетной записью: </strong> для 
управления Вашей регистрацией в качестве пользователя Сервиса. 
Предоставленные Вами Персональные данные могут предоставить Вам доступ к
 различным функциональным возможностям Сервиса, которые доступны Вам как
 зарегистрированному пользователю. </p>
</li>
<li>
<p><strong>Для исполнения контракта: </strong> разработка, соблюдение и 
заключение договора купли-продажи продуктов, предметов или услуг, 
которые Вы приобрели, или любого другого договора с Нами через Сервис. </p>
</li>
<li>
<p><strong>Связаться с Вами: </strong> Связаться с Вами по электронной 
почте, телефонным звонкам, SMS или другим эквивалентным формам 
электронной связи, таким как push-уведомления мобильного приложения об 
обновлениях или информационные сообщения, связанные с функциональными 
возможностями, продуктами или услугами по контракту, включая обновления 
для системы безопасности, когда это необходимо или разумно для их 
внедрения. </p>
</li>
<li>
<p><strong>Предоставлять Вам </strong> новости, специальные предложения и
 общую информацию о других предлагаемых нами товарах, услугах и 
мероприятиях, аналогичных тем, которые вы уже приобрели или о которых 
запрашивали, за исключением случаев, когда Вы решили не получать такую 
информацию. </p>
</li>
<li>
<p><strong>Для управления Вашими запросами: </strong> Посещать Ваши запросы к Нам и управлять ими. </p>
</li>
<li>
<p><strong>Для передачи бизнеса: </strong> Мы можем использовать Вашу 
информацию для оценки или проведения слияния, отчуждения, 
реструктуризации, переформулирования, роспуска или другой продажи или 
передачи некоторых или всех Наших активов, будь то в качестве 
продолжающейся деятельности или в рамках банкротства, ликвидации или 
аналогичной процедуры, в ходе которой среди передаваемых активов 
находятся хранящиеся у Нас Персональные данные о пользователях наших 
Услуг. </p>
</li>
<li>
<p><strong>Для других целей </strong>: Мы можем использовать Вашу 
информацию для других целей, таких как анализ данных, выявление 
тенденций использования, определение эффективности наших рекламных 
кампаний, а также для оценки и улучшения нашего Сервиса, продуктов, 
сервисов, маркетинга и вашего опыта. </p>
</li>
</ul>
<p>Мы можем передавать Вашу личную информацию в следующих ситуациях: </p>
<ul>
<li><strong>С поставщиками услуг: </strong> Мы можем передавать Вашу 
личную информацию поставщикам услуг для мониторинга и анализа 
использования нашего Сервиса, чтобы связаться с Вами. </li>
<li><strong>Для передачи бизнеса: </strong> Мы можем делиться или 
передавать Вашу личную информацию в связи с любым слиянием, продажей 
активов Компании, финансированием или приобретением всего или части 
Нашего бизнеса другой компании или в ходе переговоров о нем. </li>
<li><strong>С аффилированными лицами: </strong> Мы можем передавать Вашу
 информацию нашим аффилированным лицам, и в этом случае мы потребуем от 
этих аффилированных лиц соблюдать настоящую Политику конфиденциальности.
 Аффилированные лица включают Нашу материнскую компанию и любые другие 
дочерние компании, партнеров по совместному предприятию или другие 
компании, которые Мы контролируем или которые находятся под общим 
контролем с Нами. </li>
<li><strong>С деловыми партнерами: </strong> Мы можем передавать Вашу 
информацию нашим деловым партнерам, чтобы предлагать Вам определенные 
продукты, услуги или рекламные акции. </li>
<li><strong>С другими пользователями: </strong> когда Вы делитесь личной
 информацией или иным образом взаимодействуете в общественных местах с 
другими пользователями, такая информация может быть просмотрена всеми 
пользователями и может публично распространяться за пределами. </li>
<li><strong>С Вашего согласия </strong>: мы можем раскрывать Вашу личную информацию для любых других целей с Вашего согласия. </li>
</ul>
<h3>Хранение Ваших Персональных данных </h3>
<p>Компания будет хранить Ваши Персональные данные только до тех пор, 
пока это необходимо для целей, изложенных в настоящей Политике 
конфиденциальности. Мы будем сохранять и использовать ваши персональные 
данные в объеме, необходимом для выполнения наших юридических 
обязательств (например, если от нас потребуется сохранить ваши данные в 
соответствии с применимым законодательством), разрешения споров и 
обеспечения соблюдения наших юридических соглашений и политики. </p>
<p>Компания также сохранит Данные об использовании для целей внутреннего
 анализа. Данные об использовании, как правило, хранятся в течение более
 короткого периода времени, за исключением случаев, когда эти данные 
используются для повышения безопасности или улучшения функциональности 
Нашего Сервиса, или когда мы по закону обязаны хранить эти данные в 
течение более длительных периодов времени. </p>
<h3>Передача Ваших Персональных данных </h3>
<p>Ваша информация, включая Персональные данные, обрабатывается в 
операционных офисах Компании и в любых других местах, где находятся 
стороны, участвующие в обработке. Это означает, что эта информация может
 передаваться на компьютеры, расположенные за пределами Вашего штата, 
провинции, страны или другой государственной юрисдикции, где законы о 
защите данных могут отличаться от законов Вашей юрисдикции, и храниться 
на них. </p>
<p>Ваше согласие с настоящей Политикой конфиденциальности, за которым 
следует предоставление Вами такой информации, представляет собой Ваше 
согласие на такую передачу. </p>
<p>Компания предпримет все разумно необходимые шаги для обеспечения 
безопасной обработки Ваших данных в соответствии с настоящей Политикой 
конфиденциальности, и никакая передача Ваших Персональных данных не 
будет осуществляться организации или стране, если не будут приняты 
надлежащие меры контроля, включая безопасность Ваших данных и другой 
личной информации. </p>
<h3>Удалить Ваши Персональные Данные </h3>
<p>Вы имеете право удалить или запросить, чтобы Мы оказали содействие в удалении Персональных данных, которые Мы собрали о Вас. </p>
<p>Наш Сервис может предоставить Вам возможность удалить определенную информацию о Вас из Сервиса. </p>
<p>Вы можете обновлять, изменять или удалять Свою информацию в любое 
время, войдя в Свою учетную запись, если она у вас есть, и посетив 
раздел настроек учетной записи, который позволяет вам управлять своей 
личной информацией. Вы также можете связаться с Нами, чтобы запросить 
доступ, исправить или удалить любую личную информацию, которую Вы Нам 
предоставили. </p>
<p>Однако, пожалуйста, обратите внимание, что нам может потребоваться 
сохранить определенную информацию, когда у нас есть для этого 
юридическое обязательство или законные основания. </p>
<h3>Раскрытие Ваших Персональных данных </h3>
<h4>Деловые операции </h4>
<p>Если Компания участвует в слиянии, приобретении или продаже активов, 
ваши Персональные данные могут быть переданы. Мы направим уведомление до
 того, как ваши Персональные данные будут переданы и станут предметом 
другой Политики конфиденциальности. </p>
<h4>Правоохранительные органы </h4>
<p>При определенных обстоятельствах Компания может быть обязана раскрыть
 Ваши Персональные данные, если этого требует закон или в ответ на 
обоснованные запросы государственных органов (например, суда или 
правительственного учреждения). </p>
<h4>Другие юридические требования </h4>
<p>Компания может раскрывать Ваши Персональные данные, добросовестно полагая, что такие действия необходимы для: </p>
<ul>
<li>Соблюдать юридические обязательства </li>
<li>Защищать права или собственность Компании </li>
<li>Предотвращать или расследовать возможные правонарушения, связанные с Сервисом </li>
<li>Защищать личную безопасность Пользователей Сервиса или общественности </li>
<li>Защита от юридической ответственности </li>
</ul>
<h3>Безопасность Ваших персональных данных </h3>
<p>Безопасность ваших персональных данных важна для Нас, но помните, что
 ни один способ передачи через Интернет или электронного хранения не 
является на 100% безопасным. Хотя мы стремимся использовать коммерчески 
приемлемые средства для защиты Ваших Персональных данных, Мы не можем 
гарантировать их абсолютную безопасность. </p>
<h2>Конфиденциальность детей </h2>
<p>Наш сервис не предназначен для лиц младше 13 лет. Мы сознательно не 
собираем личную информацию от лиц младше 13 лет. Если вы являетесь 
родителем или опекуном и вам известно, что Ваш ребенок предоставил Нам 
Персональные данные, пожалуйста, свяжитесь с Нами. Если нам становится 
известно, что мы собирали Персональные данные от лиц моложе 13 лет без 
подтверждения согласия родителей, мы предпринимаем шаги по удалению этой
 информации с наших серверов. </p>
<p>Если нам необходимо полагаться на согласие в качестве юридического 
основания для обработки Вашей информации и в вашей стране требуется 
согласие одного из родителей, мы можем запросить согласие вашего 
родителя, прежде чем собирать и использовать эту информацию. </p>
<h2>Ссылки на Другие веб-сайты </h2>
<p>Наш Сервис может содержать ссылки на другие веб-сайты, которыми Мы не
 управляем. Если Вы нажмете на ссылку третьей стороны, Вы будете 
перенаправлены на сайт этой третьей стороны. Мы настоятельно рекомендуем
 Вам ознакомиться с Политикой конфиденциальности каждого сайта, который 
Вы посещаете. </p>
<p>Мы не контролируем и не несем никакой ответственности за содержание, 
политику конфиденциальности или практику любых сторонних сайтов или 
сервисов. </p>
<h2>Изменения в настоящей Политике конфиденциальности </h2>
<p>Мы можем время от времени обновлять нашу Политику конфиденциальности.
 Мы уведомим Вас о любых изменениях, разместив новую Политику 
конфиденциальности на этой странице. </p>
<p>Мы сообщим Вам об этом по электронной почте и / или разместим 
заметное уведомление на Нашем Сервисе до вступления изменений в силу и 
обновим дату "Последнего обновления" в верхней части настоящей Политики 
конфиденциальности. </p>
<p>Вам рекомендуется периодически просматривать настоящую Политику 
конфиденциальности на предмет любых изменений. Изменения в настоящей 
Политике конфиденциальности вступают в силу с момента их публикации на 
этой странице. </p>
<h2>Связаться с нами </h2>
<p>Если у вас есть какие-либо вопросы по поводу данной Политики конфиденциальности, Вы можете связаться с нами: </p>
<ul>
<li>По электронной почте:  homoss855@gmail.com </li>
</ul>
</div>
</div>
</div>

<div class="footer">
<div class="container">

</div>
</div>
</div>

</body></html>